/**
 * _menu.scss
 *
 * All menu/navigation related styles go here.
 *
 */

$menu-height: 80px;
.brand-bar {
  background-color: $red;
  height: $menu-height;
  h1 {
    margin: 0;
  }
}

.site-title {
  display: inline-block;
  h1 {
    color: $white;
    font-size: 30px;
    line-height: $menu-height;
  }
}

.brand {
  float: left;
  display: block;
  height: $menu-height;
  border-right: 1px solid $dark-red;
  margin-right: 20px;
}

.logo {
  height: $menu-height / 2;
  margin: 20px 20px 20px 0;
  fill: $white;
}

.menu-button {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  padding: 23px 20px;
  background-color: $red;
  @include transition-property(box-shadow background-color);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in-out);
  @include border-radius(50%);
  @include box-shadow(0px 2px 5px transparentize($black, 0.8));

  & span {
    position: relative;
    display: block;
    height: 2px;
    width: 20px;
    background-color: $white;
    margin-bottom: 4px;
    top: 1px;
  }

  & span:nth-child(3) {
    margin-bottom: 0;
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    @include box-shadow(0px 5px 10px transparentize($black, 0.8));
  }
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > li {

  }

  & > li > a {
    padding: 10px 0;
    display: block;
  }
}

/*
.navigation {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    position: relative;

    // Hover menu links, grow underline
    &.active a::after,
    &.active a::before,
    a:hover::after,
    a:hover::before,
    a:active::after,
    a:active::before,
    a:focus::after,
    a:focus::before {
      width: 50%;
    }

    a {
      font-weight: $semibold;
      text-decoration: none;
      color: $black;
      padding: 20px 15px;
      border-bottom: 3px solid transparent;
      display: inline-block;

      // Material underlines
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $red;
        bottom: -3px;
        @include transition(width 0.1s ease-in-out);
      }
      &::after { left: 50%; }
      &::before { right: 50%; }
    }
  }
}
*/
