/**
 * _page.scss
 *
 * All page related styles go here.
 *
 */

section.masthead {
  background-color: $red;
  background-image: url("/theme/industry-expo/images/masthead.jpg");
  background-size: cover;
  background-position: 50% 50%;

  a {
    text-decoration: none;
  }

  h1, h2 {
    margin: 0;
    color: $white;
  }

  h2 {
    text-align: center;
  }

  .arrow-down {
    display: block;
    color: $white;
    font-size: ms(2);
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
  }
}

// Container around masthead boxes
.flex-container {
  @include display-flex;
  @include flex-direction(column);
  width: 100%;
  padding: 100px 0;

  @media (min-width: $media-md) {
    @include flex-direction(row);
    padding: 200px 0;
  }
}

// Container around each masthead box
.flex-item {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  padding: 40px 20px;
  @include transition(background-color 0.3s ease-in-out);

  // Red box in masthead containing payoff
  &.message {
    @include flex-grow(3);
    background-color: transparentize($red, 0.2);

    @media (min-width: $media-md) {
      margin-right: 20px;
    }
  }

  // Blue button on masthead
  &.button {
    margin-top: 20px;
    min-width: 270px;
    background-color: transparentize($blue, 0.2);
    cursor: pointer;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      background-color: $blue;
    }

    @media (min-width: $media-md) {
      margin-top: 0;
    }
  }
}

section.about {
  padding: 100px 0;
  background-color: $offwhite;
}

section.event-details {
  padding: 160px 0;

  // Add top margin to icons on small screens
  .fa {
    margin-top: 40px;
  }

  @media(min-width: $media-md) {
    text-align: center;

    .fa {
      margin-top: 0;
    }
  }
}

section.view-projects {
  padding: 100px 0;
  background-color: $blue;
  text-align: center;
}

section.location {
  padding: 100px 0 40px;
}

section.map {
  // TODO: This sets a min height for demo purposes. Remove when custom google map implemented.
  min-height: 400px;

  width: 100%;
  background-color: $blue;
  position: relative;

  .address {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    background-color: transparentize($red, 0.2);
    color: $white;
    text-align: center;
  }

  p {
    margin: 0;
  }
}
.contact_submit{
  text-align: center;
  margin: 0 auto; 
}

section.contact {
  padding: 100px 0;
  text-align: center;

}

.boltforms-row{
  padding: 0.5em;
}

.boltforms-row input, textarea{
  float: center;
  width: 60%;
}

input:focus, textarea:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid $red;
  outline-width: 0;
}

textarea:focus::-webkit-input-placeholder{
    color: $red;
}

textarea:textarea:focus:-webkit-textarea-placeholder{
  color: $red;
}

.required{
  display: none;
}

/* Firefox > 19 */

textarea:focus::-moz-placeholder{
    color: $red;
}

/* Internet Explorer 10 */
textarea:focus:-ms-input-placeholder {
    color: $red;
}
input, input:focus{
   line-height: 3em;
   padding-left: 1em;
}

textarea, textarea:focus{
   line-height: 1.5em;
   padding-left: 1em;
}

input:focus::-webkit-input-placeholder{
    color: $red;
}


/* Firefox > 19 */

input:focus::-moz-placeholder{
    color: $red;
}

textarea:focus:-moz-placeholder{
    color: $red;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
    color: $red;
}

div.g-recaptcha {
    text-align: center;
    width: 27%;
    margin: 0 auto; 
} 