.project {
  border: 1px solid black;

  h1, h2 {
    margin: 0;
  }

  .image-wrapper {
    position: relative;
    .team-name {
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      z-index: -1;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }
}
