/**
 * _type.scss
 *
 * All typography related styles go here.
 * Based on Skeleton CSS typography.
 *
 */

// Set Modular Scale variables
$ms-base: 1em;
$ms-ratio: $major-third;

// Global Font Family/color
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: $grey;
}

// Global font sizing and spacing
body {
  font-weight: 400;
  font-size: ms(0);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .team-name {
  color: $black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.2;
}

button,
.button {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 { font-size: ms(3); }
h2 { font-size: ms(2); }
h3 { font-size: ms(1); }
h4 { font-size: ms(0); }
h5 { font-size: ms(0); }
h6 { font-size: ms(0); }

// Specific type sizes throughout site
.masthead h2 { font-size: ms(0); }
.about p,
.location > .container > p,
.contact p,
.project .summary  { font-size: ms(0); }
.details-icon { font-size: ms(6); }
.button-projects { font-size: ms(1); }
.team-name { font-size: ms(0); }

@media (min-width: $media-sm) {
  h1 { font-size: ms(4); }
  h2 { font-size: ms(3); }
  h3 { font-size: ms(2); }
  h4 { font-size: ms(1); }
  h5 { font-size: ms(0); }
  h6 { font-size: ms(0); }

  // Specific type sizes throughout site
  .masthead h2 { font-size: ms(1); }
  .about p,
  .location > .container > p,
  .contact p,
  .project .summary { font-size: ms(1); }
  .button-projects { font-size: ms(2); }
  .team-name { font-size: ms(1); }
}

@media (min-width: $media-md) {
  h1 { font-size: ms(5); }
  h2 { font-size: ms(4); }
  h3 { font-size: ms(3); }
  h4 { font-size: ms(2); }
  h5 { font-size: ms(1); }
  h6 { font-size: ms(0); }

  .masthead h2 { font-size: ms(2); }
  .button-projects { font-size: ms(3); }
}
