/**
 * _utils.scss
 *
 * All utility or "other" related styles go here.
 *
 */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: $offwhite;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.footer-list {
  list-style-type: none;
}
