/**
 * _utils.scss
 *
 * All utility or "other" related styles go here.
 *
 */

*, *:before, *:after {
  box-sizing: border-box;
}

// Text selection color
* {
  @include selection($red, $white);
}

a {
  color: $red;
  text-decoration: none;
  position: relative;
  @include transition(color 0.1s ease-in-out);

  &:hover,
  &:active,
  &:focus {
    color: lighten($red, 10%);
    text-decoration: underline;
  }
}

// Main Container
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
