/**
 * _variables.scss
 *
 * All variables go here.
 *
 */

// Colors
$black:     rgb(30, 30, 30);
$blue:      rgb(0, 126, 182);
$grey:      rgb(102, 102, 102);
$imgblue:   rgba(0, 126, 182, 0.8);
$imgred:    rgba(217, 35, 52, 0.8);
$offwhite:  rgb(240, 240, 240);
$red:       rgb(192, 36, 36);
$redaccent: rgb(168, 29, 30);
$white:     rgb(255, 255, 255);
